<html>
    <head>
        <title>layout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            .table { 
                display: table; 
                width : 100%;
            }
            .row { 
                display: table-row; 
            }
            .cell { 
                display: table-cell; 
            }
        </style>        
        <div class="table">
            <div class="row">
                <div class="cell">11</div>
                <div class="cell">12</div>
                <div class="cell">13</div>
            </div>
            <div class="row">
                <div class="cell">21</div>
                <div class="cell">22</div>
                <div class="cell">23</div>
            </div>            
        </div>
    </body>
</html>
